@import './variables.scss';

*, ::before, ::after {
    font-family: $inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('./../images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 10px 25px;
}

.main {
    width: 100%;
    margin: 10vh auto 0;
}

.card {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    max-width: 380px;
    margin: 0 auto;
}

.card-avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
        width: 80%;
        object-fit: contain;
        margin: 0 auto;
        max-width: 300px;
        box-shadow: 0 0 12px 5px rgba($color: #000000, $alpha: 0.2);
        border-radius: 5px;
    }

    &::after {
        content: '';
        background-image: url('./../images/pattern-bg.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 320px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -50px;
        z-index: -1;
    }
}

.card-avatar-buttons {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #fff;
    width: 80px;
    margin-top: -15px;
    padding: 15px 10px;
    box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.3);

    .btn {
        background-color: transparent;
        outline: none;
        cursor: pointer;
        border: none;
        width: 20px;
        height: 15px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .btn-prev {
        background-image: url('./../images/icon-prev.svg');
    }

    .btn-next {
        background-image: url('./../images/icon-next.svg');
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    position: relative;

    &::after {
        content: '';
        background-image: url('./../images/pattern-quotes.svg');
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.card-body-testimonial {

    .card-body-testimonial-text {
        color: $dark-blue;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

        &::before{
            content: '" ';
        }

        &::after {
            content: ' "';
        }
    }
}

.card-body-person {
    display: flex;
    flex-direction: column;

    .card-body-name {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        color: $dark-blue;
    }

    .card-body-position {
        font-weight: 500;
        color: $grayish-blue;
        font-size: .9rem;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background-position: -700px bottom;
        padding: 20px 80px;
    }
    .main {
        margin: 7vh auto;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        height: 600px;
    }

    .card-avatar {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        .avatar {
            height: 85%;
            width: 85%;
            object-fit: cover;
            max-width: 500px;
        }

        &::after {
            background-image: url('./../images/pattern-bg.svg');
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 115%;
            top: -60px;
            max-width: 650px;
        }
    }

    .card-avatar-buttons {
        margin-left: -200px;
        width: 100px;
    }

    .card-body {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
        width: 100%;

        &::after {
            left: 20px;
            height: 90px;
            top: -80px;
            width: 140px;
            right: auto;
        }
    }

    .card-body-person {
        flex-direction: row;
        column-gap: 5px;
        align-items: center;
    }

    .card-body-testimonial {

        .card-body-testimonial-text {
            color: $dark-blue;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
        }
    }

    .card-body-person {
        column-gap: 20px;
    
        .card-body-name {
            font-size: 2rem;
            color: $dark-blue;
        }
    
        .card-body-position {
            font-size: 1.8rem;
        }
    }
}